snippet pdb "Add a pdb++ breakpoint"
import pdb; pdb.set_trace()  # noqa: E702 BREAKPOINT
endsnippet

snippet utf "UTF8 header"
# -*- coding: utf-8 -*-
endsnippet

snippet char "char field"
models.CharField(${1:...})
endsnippet


